name: Validation

concurrency:
    group: Validations-${{ github.ref }}
    cancel-in-progress: false

on:
  schedule:
    - cron: 30 0/4 * * *
  push:
    paths-ignore:
      - reports/**
      - 'Invalid_Repositories.md'
      - 'invalid_repositories.json'
    branches:
      - master
  pull_request:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    if: github.repository == 'wabbajack-tools/mod-lists'

    env:
      IS_PULL_REQUEST: ${{ github.event_name == 'pull_request' }}
      IS_LIVE_BRANCH: ${{github.ref == 'refs/heads/master' && github.repository == 'wabbajack-tools/mod-lists'}}

    steps:
    - name: Echo Event Name
      run: echo ${{ github.event_name }}
    - uses: actions/checkout@v2

    - name: Setup .NET Core SDK 9.0.x
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '9.0.x'
    - name: Restore dependencies
      run: dotnet restore Validation/Validation.sln
    - name: Build
      run: dotnet build Validation/Validation.sln --no-restore
    - name: Test
      run: export IS_PULL_REQUEST=${{ env.IS_PULL_REQUEST }} && dotnet test Validation/Validation.sln --no-build --verbosity normal

    - name: Setup jq
      if: env.IS_LIVE_BRANCH == 'true'
      uses: vegardit/gha-setup-jq@v1

    - name: Pull Changes from other workflows
      if: env.IS_LIVE_BRANCH == 'true'
      run: git pull

    - name: Sync Validation Output Into Repository
      if: env.IS_LIVE_BRANCH == 'true'
      run: chmod +x sync_validation_output.sh && bash sync_validation_output.sh

    - name: Commit Updated Repository Files & Error Logs
      uses: stefanzweifel/git-auto-commit-action@v7
      if: env.IS_LIVE_BRANCH == 'true'
      with:
        commit_message: Repository Validation
        file_pattern: 'Invalid_Repositories.md invalid_repositories.json repositories.json'
